.Rproj.user
.Rhistory
.RData
.Ruserdata

/tr/resources
/tr/knitr-figs
/tr/knitr-cache
/tr/cache
/tr/SpawnIndex.aux
/tr/SpawnIndex.bbl
/tr/SPawnIndex.lof
/tr/SPawnIndex.log
/tr/SPawnIndex.txt
/tr/SpawnIndex.out
/tr/SPawnIndex.pdf
/tr/SPawnIndex.tex
/tr/SPawnIndex.toc
/tr/SPawnIndex.lot

doc
Meta
