.Rproj.user
.Rhistory
.RData
.Ruserdata

/tr/resources
/tr/knitr-figs
/tr/knitr-cache
/tr/cache
/tr/SpawnIndex.aux
/tr/SpawnIndex.bbl
/tr/SpawnIndex.blg
/tr/SpawnIndex.lof
/tr/SpawnIndex.log
/tr/SpawnIndex.txt
/tr/SpawnIndex.out
/tr/SpawnIndex.pdf
/tr/SpawnIndex.tex
/tr/SpawnIndex.toc
/tr/SpawnIndex.upa
/tr/SpawnIndex.lot
/tr/SpawnIndex-concordance.tex
/tr/SpawnIndex.synctex.gz
/tr/SpawnIndex.synctex(busy)

*.html
/vignettes/*.R

doc
Meta
inst/doc
inst/PACKAGES.bib
